
html {
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

/* All-around uses */

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Lato', sans-serif;
    color: rgb(51,51,51);
    word-break: break-word;
    font-size: 16px;
}

hr {
    width: 10%;
}

.bold {
    font-weight: bold;
}

/* =========================== */

/* Navbar */
.navbar-border{
    width: 100%;
    box-shadow: 0px 0px 15px 0px lightgray;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    flex: start;
    margin: auto 0;
}

.title-wrapper {
    margin: 0 auto;
    padding-left: 120px;
}

.nav-wrapper {
    margin: auto 0;
}

.name {
    font-weight: 500;
    letter-spacing: -.5px;
    margin: 2px;
    color: #333;
}

.job-title{
    margin: 10px 0;
    font-weight: 400;
    font-style: italic;
    color: #333;
    letter-spacing: 0.5px;
    text-align: center;
}


.logo {
    width: 190px;
    padding: 12px 0;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    padding-left: 40px;
    color: #555;
    font-size: 15px;
    letter-spacing: 0.5px;
}


li:hover {
    color: #ad1c71;
}

li:active{
    color: #555;
}

/* =========== */

/* Top Section */
.bio-section {
    width: 100%;
    margin: 0;
}

.bio-wrapper{
    background-color: #fff;
    border-radius: 3px;
    margin: 10px 0;
    word-wrap: break-word;
}

.badge {
    text-align: center;
}

/* ====================== */
/* Bio */
.about-me{
    margin: 20px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;

}
/* =========== */
/* Project Section */
.project-headline {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
    text-align: center;
    font-size: 27px;
    font-family: 'Arapey', serif;
    font-style: italic;
}

.white {
    color: white;
}

.bloomnation-purple {
    color: #ff2ca7;
}
.tech-used {
    font-weight: 500;
    color: rgb(21,138,208)
}

section {
    margin: 50px auto;
    max-width: 1100px;
    display: flex;
    border: 1px solid #f7f6f5;
    background-color: #f7f6f5;
}

.image-section{
    flex: .53;
    transition: transform .4s;
}

.image-section:hover {
    transform: scale(1.01)
}

img {
    width: 100%;
}

.desc-section{
    flex: 0.47;
    padding: 5px;
}

.desc-wrapper {
    padding: 20px 0;
    text-align: center;
    justify-self: center;
}

.desc-wrapper > h1 {
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.desc-wrapper > p {
    padding-top: 15px;
}

.map-location {
    background-image: url('./img/map-location.png');
    background-repeat: no-repeat;
    background-position:left top;
}

.invit-ims{
    background-image: url('./img/invit-ims.png');
    background-repeat: no-repeat;
    background-position:left top;
}

.coteam-img {
    background-image: url('./img/group.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.white {
    color: white;
}

.github-link {
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    color: #ff2ca7;
}

.github-link:hover {
    color: #ad1c71;
    text-decoration: underline;
}

/* ================== */

/* Contact Form */
.contact-background-wrapper {
    padding: 25px 0 0 0;
}

.contact-form{
    text-align: center;
    margin: 5px auto;
}

.contact-links {
    padding-right: 40px;
}

#contact-form > h1 {
    font-size: 22px;
    margin: 0;
    text-align: center;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
    text-transform: uppercase;
}

.email-link {
    color: rgb(21,138,208);
    text-decoration: none;
}

.email-link:hover {
    color:#ad1c71;
    text-decoration: underline;
}
/* ========================= */

/* Footer */

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(51, 51,51);
    text-align: center;
}

footer > p {
    font-size: 14px;
    padding-top: 15px;
    color: white;
}




